rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // allow all documents to be read and written
    // match /{document=**} {
    //   allow read, write: if true
    // }

    match /notAtHomes/{cong} {
      allow read, write: if true
    }
  }
}